* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.header-nav {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 25px; }

.header-nav-logo a {
  text-decoration: none; }

.header-nav-logo span:nth-of-type(1) {
  color: red;
  font-size: 25px; }

.header-nav-logo span:nth-of-type(2) {
  color: green;
  font-size: 25px; }

.header-nav-logo p {
  font-size: 12px;
  text-align: center; }

.header-nav-call {
  color: black;
  font-size: 20px; }
  .header-nav-call a {
    color: #d34272;
    text-decoration: none; }
  .header-nav-call img {
    margin-bottom: -15px; }

.header-info {
  font-size: 35px;
  background-color: #1dbb90;
  height: 520px;
  position: relative; }

.header-info-inner {
  display: flex;
  justify-content: space-between; }
  .header-info-inner-img {
    position: relative;
    bottom: -60px;
    z-index: 2; }
  .header-info-inner-text {
    margin: 29px;
    color: white;
    width: 40%;
    padding-top: 50px; }
  .header-info-inner-grand {
    font-size: 15px;
    color: #1a1919; }

.header-block {
  position: absolute;
  height: 110 px;
  width: 100%;
  bottom: 0;
  background: #d34272; }
  .header-block a {
    font-size: 20px;
    text-decoration: none;
    background-color: #1dbb90;
    color: #fff;
    padding: 15px 25px;
    margin-left: 20px; }
  .header-block a:hover {
    background-color: #fff;
    color: black; }

.header-block-inner {
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.features-header {
  margin-top: 25px;
  text-align: center;
  padding: 25px;
  font-size: 25px; }
  .features-header span {
    color: #1dbb90; }
  .features-header span:nth-child(2) {
    color: #d34272; }

.features-block {
  display: flex;
  justify-content: space-between; }

.features-block-item {
  width: 300px; }

.features-block-item-header {
  display: flex; }
  .features-block-item-header span {
    color: red;
    display: block;
    margin-left: 20px;
    line-height: 1.5;
    font-size: 23px; }
  .features-block-item-header span:nth-child(2) {
    color: #1dbb90; }

.features-block-item-text {
  margin-top: 20px; }

.check-block-item-text-features {
  text-align: center;
  font-size: 25px;
  margin-top: 39px;
  padding: 50px; }
  .check-block-item-text-features span:nth-of-type(1) {
    color: #1dbb90; }
  .check-block-item-text-features span:nth-of-type(2) {
    color: #d34272; }

.check-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .check-text img {
    width: 210px;
    height: auto; }

.membership-block-item {
  width: 280px;
  height: 390px;
  background-color: #474747;
  color: #fff; }
  .membership-block-item h2 {
    margin: 0px 30px;
    padding: 10px;
    background: #1dbb90;
    color: #fff;
    text-align: center;
    font-size: 18px; }
  .membership-block-item h3 {
    padding: 20px 30px;
    text-align: center; }
  .membership-block-item ul {
    list-style: none;
    color: #fff; }
  .membership-block-item li {
    position: relative;
    line-height: 2;
    padding: 0 0 0 50px; }
  .membership-block-item li::before {
    content: "";
    position: absolute;
    border: 7px solid;
    left: -15px;
    top: 10px;
    border-color: transparent transparent transparent white; }

.membership-block {
  display: flex;
  justify-content: space-between; }

.membership-block-item-enter {
  width: 147px;
  height: 47px;
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .membership-block-item-enter a {
    padding: 15px 30px;
    text-align: right;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    background: #1dbb90; }

.membership-block-item:nth-child(2) {
  background: #d34272; }
  .membership-block-item:nth-child(2) a {
    color: #fff;
    background-color: #474747; }
  .membership-block-item:nth-child(2) h2 {
    background: #474747; }

.membership-block-item-enter:nth-child(3) a {
  background: #d34272; }

.membership-block-item-enter:nth-child(3) {
  background-color: #1dbb90; }
  .membership-block-item-enter:nth-child(3) h2 {
    background-color: #d34272; }

.sing {
  font-size: 25px;
  text-align: center;
  padding: 50px 0px; }
  .sing span {
    color: #1dbb90; }
  .sing span:nth-child(2) {
    color: #d34272; }

.costumers {
  margin: 50px 0;
  font-size: 25px;
  display: flex;
  justify-content: space-between; }
  .costumers span:nth-child(1) {
    color: green; }
  .costumers span:nth-child(2) {
    color: #d34272; }
  .costumers-say {
    width: 45%; }
  .costumers-nav {
    margin-bottom: 30px; }
  .costumers .costumers-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
  .costumers .costumers-img {
    padding-right: 25px; }
  .costumers .costumers-tool {
    font-size: 15px; }
    .costumers .costumers-tool span:nth-child(2) {
      color: #1dbb90; }
    .costumers .costumers-tool span:nth-child(3) {
      color: #d34272; }
  .costumers .custumers-more {
    width: 40%;
    text-align: center; }
    .costumers .custumers-more-video {
      margin-top: 30px; }
    .costumers .custumers-more video {
      width: 100%; }

.newsletter {
  padding: 25px;
  background: #d34272;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .newsletter .newsletter-logo {
    display: flex;
    align-items: center; }
/*# sourceMappingURL=style.css.map */