.costumers {
    margin: 50px 0;
    font-size: 25px;
    display: flex;
    justify-content: space-between;

    span:nth-child(1) {
        color: green;
    }

    span:nth-child(2) {
        color: $red;
    }


    &-say {
        width: 45%;
    }

    &-nav {
        margin-bottom: 30px;
    }

    .costumers-logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .costumers-img {
        padding-right: 25px;
    }

    .costumers-tool {
        font-size: 15px;


        span:nth-child(2) {
            color: $green;
        }

        span:nth-child(3) {
            color: $red;
        }

    }

    .custumers-more {
        width: 40%;
        text-align: center;

        &-video {
            margin-top: 30px;
        }

        video {
            width: 100%;
        }
    }
}