.features-header {
    text-align: center;
    

    span {
        color: $green;
    }

    padding:25px;
    font-size: 25px;

    span:nth-child(2) {
        color: $red ;
    }

}

.features-block {
    display: flex;
    justify-content: space-between;
}

.features-block-item {
    width: 300px;
}

.features-block-item-header {
    display: flex;

    div {
        span {
            color: red;
            display: block;
            margin-left: 20px;
            line-height: 1.5;
        }

        span:nth-child(2) {
            color: $green;

        }


    }
}

.features-block-item-text {
    margin-top: 20px;
}
.check-block-item-text-features{
    text-align: center;
    font-size: 25px;
    margin-top: 39px;
    padding: 50px;
    span:nth-of-type(1){
        color:$green;

    }
    span:nth-of-type(2){
        color: $red;
    }
}
.check-text{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img{
        width: 210px;
        height: auto;
    }
    
   
}
